*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
 /* nav start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background-color: white;
}
.nav-button{
    background-color: blue;
    color:white
}
.items ul {
    list-style: none;
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 15px;
}
.items ul li a{
    text-decoration: none;
    color: black;
}
.items ul li :hover{
    color:blue;
    
}

.nav-button{
    padding: 13px 29px;
    border: none;
    border-radius: 8px;
    cursor :pointer;
    font-weight: bold;
    
}
/* nav end */
/* hero-section start */

.hero-section{
    height: 700px;
    width: 100%;
    background-image:linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.55)),
                     url('./assets/banner.jpg');
    
}
.hero-section{
    color: aliceblue;
}
.hero-section h1{
   text-align: center;
   display: flex;
   justify-content: center;
   font-size: 80px;
   padding-top: 200px;
   font-family:Arial, Helvetica, sans-serif

}
.hero-section p{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 20px;
}

.hero-section button{
    display: flex;
    justify-content: center;
    border: none;
    padding: 20px 50px;
    border-radius: 4px;
    cursor: pointer;
    background-color: blue;
    color: white;
    margin-left: 600px;
    margin-top: 200px;
    font-weight: bold-

}

/* hero-section end */

/* speaker-section start */ 

.speaker-sections{
    height: auto;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding:50px 150px;
    
}

.speaker-sections div{
   
    height: 350px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
}

.speaker-sections div img{
    width: 100%;
    height: 70%;
}

.speaker-sections div h4{
    padding-left: 10px;
    padding-top: 10px;
}
.speaker-sections div p{
    padding-top: 10px;
    padding-left: 10px;
}
.section-2 h1{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;

}

/* speakers-section end */


.pricing-section{
    padding: 100px 40px;
    
}

.pricing-header{
    text-align: center;
    margin-bottom: 60px;
}

.pricing-header h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.pricing-header p{
    color: gray;
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
}

.card{
    background-color: white;
    padding: 35px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card h2{
    font-size: 48px;
    margin-top: 15px;
}

.card span{
    color: gray;
    margin-bottom: 20px;
}

.card hr{
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #e5e5e5;
}

.card ul{
    margin-left: 20px;
    margin-bottom: 30px;
}

.card ul li{
    margin-bottom: 12px;
    color:gray;
}

.card button{
    margin-top: auto;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.standard-btn{
    background-color: white;
    border: 1px solid #2563eb !important;
    color: #2563eb;
}

.pro-card{
    background-color: #07162d;
    color: white;
}

.pro-card span,
.pro-card li{
    color: #d6d6d6;
}

.pro-btn{
    background-color: #2563eb;
    color: white;
}

.team-btn{
    background-color: white;
    border: 1px solid black !important;
}

.card li::marker{
    color: blue;
}

/* cards end */
/* footer start */


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: #0D1B2A;
    border-top: 1px solid #e5e5e5;
}

.footer-links{
    display: flex;
    gap: 25px;
}
footer p{
    color: gray;
}

.footer-links a{
    text-decoration: none;
    color: gray;
}

.footer-links a:hover{
    color: blue;
}