*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
 /* nav start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background-color: white;
}



.items ul {
    list-style: none;
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 15px;
}
.items ul li a{
    text-decoration: none;
    color: black;
}
.items ul li :hover{
    color:blue;
    
}

.nav-button{
    padding: 13px 29px;
    border: none;
    border-radius: 8px;
    cursor :pointer;
    font-weight: bold;
    background-color: blue;
    color: white;
    transition: 0.3s ease;

}
.nav-button:hover{
    background-color: white;
    color: blue;
    transform: scale(1.05);
    border: 1px  blue;
}

/* nav end */
/* hero-section start */

.hero-section{
    height: 700px;
    width: 100%;
    background-image: linear-gradient(
            to right,
            rgba(0,0,0,0.85) 0%,
            rgba(0,0,0,0.75) 20%,
            rgba(0,0,0,0.55) 40%,
            rgba(0,0,0,0.25) 65%,
            rgba(0,0,0,0.05) 85%,
            rgba(0,0,0,0) 100%,
             transparent 100%  
        ),
        url('./assets/banner.jpg');
    
}
.hero-section{
    color: aliceblue;
}
.hero-section h1{
   text-align: center;
   display: flex;
   justify-content: center;
   font-size: 80px;
   padding-top: 200px;
   font-family:Arial, Helvetica, sans-serif

}
.hero-section p{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 20px;
}

.hero-section button{
    display: flex;
    justify-content: center;
    border: none;
    padding: 20px 50px;
    border-radius: 4px;
    cursor: pointer;
    background-color: blue;
    color: white;
    margin-left: 600px;
    margin-top: 200px;
    font-weight: bold;
    transition: 0.3s ease;

}
.hero-section button:hover{
    background-color: white;
    color: blue;
    transform: scale(1.05);
    border: 1px  blue;
}

/* hero-section end */

/* speaker-section start */ 

.speaker-sections{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding:50px 150px;
    
}

.speaker-sections div{
   
    height: 350px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
    transition: all 0.3s ease;
}
.speaker-sections div:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    cursor: pointer;
    border-radius: 8px 8px 8px 8px;
}

.speaker-sections div img{
    width: 100%;
    height: 70%;
}

.speaker-sections div h4{
    padding-left: 10px;
    padding-top: 10px;
}
.speaker-sections div p{
    padding-top: 10px;
    padding-left: 10px;
}
.section-2 h1{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;

}

/* speakers-section end */


.pricing-section{
    padding: 100px 40px;
    
}

.pricing-header{
    text-align: center;
    margin-bottom: 60px;
}

.pricing-header h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.pricing-header p{
    color: gray;
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
}

.card{
    background-color: white;
    padding: 35px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.card h2{
    font-size: 48px;
    margin-top: 15px;
}

.card span{
    color: gray;
    margin-bottom: 20px;
}

.card hr{
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #e5e5e5;
}

.card ul{
    margin-left: 20px;
    margin-bottom: 30px;
}

.card ul li{
    margin-bottom: 12px;
    color:gray;
}

.card button{
    margin-top: auto;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.standard-btn{
    background-color: white;
    border: 1px solid #2563eb !important;
    color: #2563eb;
    transition: 0.4s ease;
}
.standard-btn:hover{
    background-color: #2563eb;
    color: white;
}
.pro-card{
    background-color: #07162d;
    color: white;
}

.pro-card span,
.pro-card li{
    color: #d6d6d6;
}

.pro-btn{
    background-color: #2563eb;
    color: white;
    transition: 0.4s ease;
}
.pro-btn:hover{
    background-color: white;
    color: #2563eb;
    border: 1px solid #2563eb !important;
}

.team-btn{
    background-color: white;
    border: 1px solid black !important;
    transition: 0.4s ease;
}
.team-btn:hover{
    background-color: black;
    color: white;
}

.card li::marker{
    color: blue;
}

/* cards end */

/* untold section start */

.faq-section{
    padding: 60px 80px;
    text-align: center;
}

.faq-section h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.faq-section p{
    color: gray;
    margin-bottom: 40px;
}

.faq-container{
    max-width: 800px;
    margin: auto;
}

.faq-item{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
}

.faq-item h3{
    margin-bottom: 10px;
}

.faq-item p{
    margin: 0;
    color: #555;
}



.faq-section{
    padding: 60px 80px;
    text-align: center;
    background: #f8f9ff;
}

.faq-section h2{
    font-size: 36px;
    color: #4f46e5;
    margin-bottom: 10px;
}

.faq-section p{
    color: #666;
    margin-bottom: 40px;
}

.faq-container{
    max-width: 800px;
    margin: auto;
}

.faq-item{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    text-align: left;
    background: white;
    transition: 0.3s ease;
}

.faq-item h3{
    color: #222;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.faq-item p{
    margin: 0;
    color: #666;
    transition: 0.3s ease;
}

.faq-item:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    background-color: #222;

}

.faq-item:hover h3{
    color: #4f46e5;
}

.faq-item:hover p{
    color: #e4dede;
}


/* footer start */


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: #0D1B2A;
    border-top: 1px solid #e5e5e5;
}

.footer-links{
    display: flex;
    gap: 25px;
}
footer p{
    color: gray;
}

.footer-links a{
    text-decoration: none;
    color: gray;
}

.footer-links a:hover{
    color: blue;
}


.contact-box{
    margin-top: 40px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.contact-box:hover{
    transform: scale(1.03);
    background-color: rgba(90, 92, 190, 0.397);
}

.contact-box h3{
    color: #4f46e5;
    margin-bottom: 10px;
}

.contact-box p{
    color: #666;
    margin-bottom: 20px;
}

.contact-box a{
    display: inline-block;
    text-decoration: none;
    background: #4f46e5;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.contact-box a:hover{
    background: #1d1c33;
    transform: scale(1.05);
}

.faq-line{
    width: 80%;
    height: 4px;
    background: #4f46e5;
    margin: 20px auto;
    border-radius: 20px;
}

.faq-item:nth-child(odd) {
    animation: slideLeft 1s ease forwards;
}

.faq-item:nth-child(even) {
    animation: slideRight 1s ease forwards;
}

.contact-box {
    animation: zoomIn 1s ease forwards;
}





/* footer end */





